body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #FFA07A, #FFD700, #FF69B4, #87CEEB, #20B2AA);
    background-size: 400% 400%;
    animation: gradientBackground 10s ease infinite;
    padding: 20px;
    margin: 0;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quizContainer {
    width: 500px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            background: #fad0c4;
            animation: slideIn 3s ease forwards, shine 3s infinite alternate;
}

@keyframes shine {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

#questionContainer {
    text-align: center;
    margin-bottom: 20px;
    
}

#questionText {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black; /* Cor do texto da pergunta */
}

#optionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="radio"] {
    margin-right: 5px;
}

#resultContainer {
    text-align: center;
    display: none;
}

#resultText {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    color: purple; /* Cor do texto do resultado */
    animation: blink 0.5s linear infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes confetti {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
    }
}

.confetti {
    position: fixed;
    width: 10px;
    height: 10px;
    background: linear-gradient(45deg, #ff9a9e, #fad0c4);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    animation: confetti 5s linear infinite;
    border-radius: 50%;
    z-index: 1;
}

#returnToQuestionsButton, #questionContainer, #quizContainer {
    animation: slideIn 3s ease forwards, shine 3s infinite alternate;
}

/* Efeito de brilho para o botão "Retornar ao Início" */
#returnToQuestionsButton.show {
    display: block;
    animation: fadeIn 0.5s ease, shine 1.5s infinite;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    background-size: 200% 100%;
    animation: slideIn 3s ease forwards, shine 3s infinite alternate;
}